.dog-details-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dog-details-card {
  padding: $spacing-x4;
  margin-bottom: $spacing-x4;
  border-radius: $spacing-x1;
  min-width: 500px;
  max-width: 800px;
  box-shadow: $shadow;

  p {
    margin-bottom: $spacing-x2;
  }
}
